:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.btn:hover {
  background: var(--green);
  letter-spacing: 0.1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

header .logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
  font-style: italic;
}

header .logo i {
  color: var(--green);
}

header .navbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--light-color);
  cursor: pointer;
}

header .navbar a.active,
header .navbar a:hover {
  color: #fff;
  background-color: var(--green);
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background: #eee;
}

header .icons #menu-bars {
  display: none;
}

header .icons i:hover,
header .icons a:hover {
  color: #fff;
  background-color: var(--green);
  transform: rotate(360deg);
}

#search_form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

#search_form.active {
  top: 0;
}

#search_form #search_box {
  width: 50rem;
  border-bottom: 0.1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background: none;
}

#search_form #search_box::placeholder {
  color: #eee;
  text-transform: capitalize;
}
#search_form #search_box::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#search_form label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}
#search_form label:hover {
  color: var(--green);
}

#search_form #close {
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: #eee;
}

.home .home_slider .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
}

.home .home_slider .slide .content {
  flex: 1 1 45rem;
}

.home .home_slider .slide .content span {
  color: var(--green);
  font-size: 2.5rem;
}

.home .home_slider .slide .content h3 {
  color: var(--black);
  font-size: 7rem;
}

.home .home_slider .slide .content p {
  color: var(--light-color);
  font-size: 2.2rem;
  line-height: 1.5;
  padding: 0.5rem 0;
}

.home .home_slider .slide .image {
  flex: 1 1 45rem;
}
.home .home_slider .slide .image img {
  width: 100%;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--green);
}

.heading {
  text-align: center;
  color: var(--black);
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.sub_heading {
  text-align: center;
  color: var(--green);
  font-size: 2rem;
  padding-top: 1rem;
}

.dishes .box_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 1.5rem;
}

.dishes .box_container .box {
  padding: 2.5rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.dishes .box_container .box .fa-heart,
.dishes .box_container .box .fa-eye {
  position: absolute;
  top: 1.5rem;
  background: #eee;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: var(--black);
}

.dishes .box_container .box img {
  height: 17rem;
  /* width: 100%; */
  margin: 1rem 0;
}

.dishes .box_container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
}
.dishes .box_container .box .stars {
  padding: 1rem 0;
}
.dishes .box_container .box .stars i {
  font-size: 1.7rem;
  color: var(--green);
}

.dishes .box_container .box span {
  color: var(--light-color);
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2rem;
}

.dishes .box_container .box .fa-heart {
  right: -15rem;
}
.dishes .box_container .box .fa-eye {
  left: -15rem;
}
.dishes .box_container .box:hover .fa-heart {
  right: 1.5rem;
}
.dishes .box_container .box:hover .fa-eye {
  left: 1.5rem;
}

.dishes .box_container .box .fa-heart:hover,
.dishes .box_container .box .fa-eye:hover {
  background: var(--green);
  color: #fff;
}

.aboutUs {
  margin-top: 80px;
  margin-bottom: 80px;
  transition: all 0.3s ease;
}

.aboutUs .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  margin-top: 25px;
}

.aboutUs .row .image {
  flex: 1 1 45rem;
  overflow: hidden;
  border-radius: 25px;
  transition: transform 0.3s ease;
}

.aboutUs .row .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  transition: transform 0.3s ease;
}

.aboutUs .row .image:hover img {
  transform: scale(1.1); /* Zoom effect on hover */
}

.aboutUs .row .content {
  flex: 1 1 45rem;
  transition: transform 0.3s ease;
}

.aboutUs .row .content h3 {
  color: var(--black);
  font-size: 4rem;
  padding: 0.5rem 0;
  transition: color 0.3s ease;
}

.aboutUs .row .content p {
  color: var(--black);
  font-size: 1.5rem;
  padding: 0.5rem 0;
  line-height: 2;
  transition: opacity 0.3s ease;
}

.aboutUs .row .content:hover h3 {
  color: var(--green); /* Change heading color on hover */
}

.aboutUs .row .content:hover p {
  opacity: 0.7; /* Fade out paragraph text on hover */
}

.aboutUs .row .content .icons_container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: 0.5rem;
}

.aboutUs .row .content .icons_container .icons {
  background: #eee;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1 1 17rem;
  padding: 1.5rem 1rem;
  transition: background 0.3s ease, transform 0.3s ease;
}

.aboutUs .row .content .icons_container .icons i {
  font-size: 2.5rem;
  color: var(--green);
  transition: transform 0.3s ease;
}

.aboutUs .row .content .icons_container .icons span {
  font-size: 1.5rem;
  color: var(--black);
  transition: transform 0.3s ease;
}

.aboutUs .row .content .icons_container .icons:hover {
  background: var(--green);
  transform: translateY(-5px); /* Lift effect on hover */
}

.aboutUs .row .content .icons_container .icons:hover i {
  transform: scale(1.1); /* Icon grow effect on hover */
}

.aboutUs .row .content .icons_container .icons:hover span {
  transform: scale(1.1); /* Text grow effect on hover */
}

.menu .box_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  transition: all 0.3s ease;
}

.menu .box_container .box{
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu .box_container .box:hover {
  transform: translateY(-10px);  /* Lift effect on hover */
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);  /* Stronger shadow on hover */
}

.menu .box_container .box .image {
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.menu .box_container .box .image img {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.menu .box_container .box .image:hover img {
  transform: scale(1.1);  /* Zoom effect on hover */
}

.menu .box_container .box .image .fa-heart {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  background: #fff;
  border-radius: 50%;
  color: var(--black);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu .box_container .box .image .fa-heart:hover {
  background-color: var(--green);
  color: #fff;
  transform: scale(1.2);  /* Slight grow effect */
}

.menu .box_container .box .content {
  padding: 2rem;
  padding-top: 0;
  transition: background-color 0.3s ease;
}

.menu .box_container .box:hover .content {
  background-color: #f9f9f9;  /* Light background color change on hover */
}

.menu .box_container .box .content .stars {
  padding-bottom: 1rem;
}

.menu .box_container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--green);
  transition: transform 0.3s ease;
}

.menu .box_container .box .content .stars i:hover {
  transform: scale(1.2);  /* Slight grow effect on hover */
}

.menu .box_container .box .content h3 {
  color: var(--black);
  font-size: 2.5rem;
  transition: color 0.3s ease;
}

.menu .box_container .box .content h3:hover {
  color: var(--green);  /* Change text color on hover */
}

.menu .box_container .box .content p {
  color: var(--light-color);
  font-size: 1.3rem;
  padding: 0.5rem 0;
  line-height: 1.5;
  transition: opacity 0.3s ease;
}

.menu .box_container .box .content:hover p {
  opacity: 0.7;  /* Fade effect on paragraph text hover */
}

.menu .box_container .box .content .price {
  color: var(--green);
  margin-left: 1rem;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.menu .box_container .box .content .price:hover {
  transform: scale(1.1);  /* Price grows on hover */
}




















/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 0.1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
  }
  header .icons #menu-bars {
    display: inline-block;
  }

  #search_form #search_box {
    width: 90%;
    margin: 0 1rem;
  }

  .home .home_slider .slide .content h3 {
    font-size: 5rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }

  .dishes .box_container .box img {
    height: auto;
    width: 100%;
  }
}
